Importo las librerias

In [ ]:
import requests
import pandas as pd
import pprint

Llamo al url de la API del Banco Central

In [ ]:
marzo20 = requests.get("https://si3.bcentral.cl/SieteRestWS/SieteRestWS.ashx?user=160176997&pass=mrR4GZQoawBl&firstdate=2020-03-01&lastdate=2020-03-31&timeseries=F073.TCO.PRE.Z.D&function=GetSeries")
marzo21 = requests.get("https://si3.bcentral.cl/SieteRestWS/SieteRestWS.ashx?user=160176997&pass=mrR4GZQoawBl&firstdate=2021-03-01&lastdate=2021-03-31&timeseries=F073.TCO.PRE.Z.D&function=GetSeries")

Leo el archivo en formato JSON

In [ ]:
marzo20 = marzo20.json()
marzo21 = marzo21.json()

In [ ]:
#pprint.pprint(marzo20)
marzo20["Series"]["Obs"]

[{'indexDateString': '02-03-2020', 'statusCode': 'OK', 'value': '818.32'},
 {'indexDateString': '03-03-2020', 'statusCode': 'OK', 'value': '817.45'},
 {'indexDateString': '04-03-2020', 'statusCode': 'OK', 'value': '809.81'},
 {'indexDateString': '05-03-2020', 'statusCode': 'OK', 'value': '812.19'},
 {'indexDateString': '06-03-2020', 'statusCode': 'OK', 'value': '823.28'},
 {'indexDateString': '07-03-2020', 'statusCode': 'ND', 'value': 'NeuN'},
 {'indexDateString': '08-03-2020', 'statusCode': 'ND', 'value': 'NeuN'},
 {'indexDateString': '09-03-2020', 'statusCode': 'OK', 'value': '828.95'},
 {'indexDateString': '10-03-2020', 'statusCode': 'OK', 'value': '841.06'},
 {'indexDateString': '11-03-2020', 'statusCode': 'OK', 'value': '834.22'},
 {'indexDateString': '12-03-2020', 'statusCode': 'OK', 'value': '835.48'},
 {'indexDateString': '13-03-2020', 'statusCode': 'OK', 'value': '852.06'},
 {'indexDateString': '14-03-2020', 'statusCode': 'ND', 'value': 'NeuN'},
 {'indexDateString': '15-03-2020', 'statusCode': 'ND', 'value': 'NeuN'},
 {'indexDateString': '16-03-2020', 'statusCode': 'OK', 'value': '836.66'},
 {'indexDateString': '17-03-2020', 'statusCode': 'OK', 'value': '850.51'},
 {'indexDateString': '18-03-2020', 'statusCode': 'OK', 'value': '855.09'},
 {'indexDateString': '19-03-2020', 'statusCode': 'OK', 'value': '862.69'},
 {'indexDateString': '20-03-2020', 'statusCode': 'OK', 'value': '867.83'},
 {'indexDateString': '21-03-2020', 'statusCode': 'ND', 'value': 'NeuN'},
 {'indexDateString': '22-03-2020', 'statusCode': 'ND', 'value': 'NeuN'},
 {'indexDateString': '23-03-2020', 'statusCode': 'OK', 'value': '851.01'},
 {'indexDateString': '24-03-2020', 'statusCode': 'OK', 'value': '861.07'},
 {'indexDateString': '25-03-2020', 'statusCode': 'OK', 'value': '847.04'},
 {'indexDateString': '26-03-2020', 'statusCode': 'OK', 'value': '843.96'},
 {'indexDateString': '27-03-2020', 'statusCode': 'OK', 'value': '836.05'},
 {'indexDateString': '28-03-2020', 'statusCode': 'ND', 'value': 'NeuN'},
 {'indexDateString': '29-03-2020', 'statusCode': 'ND', 'value': 'NeuN'},
 {'indexDateString': '30-03-2020', 'statusCode': 'OK', 'value': '835.23'},
 {'indexDateString': '31-03-2020', 'statusCode': 'OK', 'value': '846.3'}]

Transformo el JSON en DataFrame para la manipulación

In [ ]:
df_marzo20 = pd.DataFrame(marzo20["Series"]["Obs"])
df_marzo21 = pd.DataFrame(marzo21["Series"]["Obs"])

In [ ]:
lista_dolar = []

for dolar in marzo20["Series"]["Obs"]:
  lista_dolar.append(dolar["value"])

In [ ]:
df_marzo21

   indexDateString   value statusCode
0       01-03-2021  719.91         OK
1       02-03-2021   721.2         OK
2       03-03-2021  726.74         OK
3       04-03-2021   731.3         OK
4       05-03-2021  729.15         OK
5       06-03-2021    NeuN         ND
6       07-03-2021    NeuN         ND
7       08-03-2021  733.11         OK
8       09-03-2021  738.46         OK
9       10-03-2021  733.42         OK
10      11-03-2021  728.89         OK
11      12-03-2021   718.4         OK
12      13-03-2021    NeuN         ND
13      14-03-2021    NeuN         ND
14      15-03-2021  718.37         OK
15      16-03-2021  721.49         OK
16      17-03-2021  723.47         OK
17      18-03-2021  730.93         OK
18      19-03-2021  724.59         OK
19      20-03-2021    NeuN         ND
20      21-03-2021    NeuN         ND
21      22-03-2021  717.96         OK
22      23-03-2021  716.46         OK
23      24-03-2021  720.62         OK
24      25-03-2021  723.35         OK
25      26-03-2021  730.82         OK
26      27-03-2021    NeuN         ND
27      28-03-2021    NeuN         ND
28      29-03-2021   729.5         OK
29      30-03-2021  736.17         OK
30      31-03-2021  732.11         OK

Transformo el valor "Dolar" a número

In [ ]:
#pandas.to_numeric(arg, errors=’raise’, downcast=None)
df_marzo20["value"] = pd.to_numeric(df_marzo20["value"], errors="coerce")
df_marzo21["value"] = pd.to_numeric(df_marzo21["value"], errors="coerce")

Transformo el valor "Dolar" del fin de semana al valor del día lunes

In [ ]:
df_marzo20["value"].iloc[5] = df_marzo20["value"].iloc[7]
df_marzo20["value"].iloc[6] = df_marzo20["value"].iloc[7]

df_marzo20["value"].iloc[12] = df_marzo20["value"].iloc[14]
df_marzo20["value"].iloc[13] = df_marzo20["value"].iloc[14]

df_marzo20["value"].iloc[19] = df_marzo20["value"].iloc[21]
df_marzo20["value"].iloc[20] = df_marzo20["value"].iloc[21]

df_marzo20["value"].iloc[26] = df_marzo20["value"].iloc[28]
df_marzo20["value"].iloc[27] = df_marzo20["value"].iloc[28]

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)

In [ ]:
df_marzo21["value"].iloc[5] = df_marzo21["value"].iloc[7]
df_marzo21["value"].iloc[6] = df_marzo21["value"].iloc[7]

df_marzo21["value"].iloc[12] = df_marzo21["value"].iloc[14]
df_marzo21["value"].iloc[13] = df_marzo21["value"].iloc[14]

df_marzo21["value"].iloc[19] = df_marzo21["value"].iloc[21]
df_marzo21["value"].iloc[20] = df_marzo21["value"].iloc[21]

df_marzo21["value"].iloc[26] = df_marzo21["value"].iloc[28]
df_marzo21["value"].iloc[27] = df_marzo21["value"].iloc[28]

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)

Seleciono solo las columnas Fechas y Dolar

In [ ]:
df_marzo20 = df_marzo20[["indexDateString", "value"]]
df_marzo21 = df_marzo21[["indexDateString", "value"]]

Convierto el DataFrame en archivo CSV

In [ ]:
df_marzo20.to_csv("dolar_mar_20.csv")

In [ ]:
df_marzo21.to_csv("dolar_mar_21.csv")